/************ 总体样式 ************/
* {
    margin: 0;
    padding: 0;
}

caption, th, td {
    text-align: left;
}

ol, ul {
    list-style: none;
}

div {
    display: block;
}

html {
    font-size: 100%;
    height: 100%;
    margin-bottom: 1px;
    //总是显示滚动条
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #555;
    background: #f0f0f0 url('../images/bg-body.gif') top left repeat-y;
    font-size: 12px;
}

#body-wrapper {
    position: relative;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Arial, Helvetica, sans-serif;
    color: #222;
    margin: 0;
}

h1 {
    font-size: 31px;
    font-weight: bold;
}

h2 {
    font-size: 26px;
    padding: 0 0 10px 0;
}

h3 {
    font-size: 17px;
    padding: 0 0 10px 0;
}

h4 {
    font-size: 16px;
    padding: 0 0 5px 0;
}

h5 {
    font-size: 14px;
    padding: 0 0 5px 0;
}

h6 {
    font-size: 12px;
    padding: 0 0 5px 0;
}

a {
    color: #555;
    text-decoration: none;
}

a:hover {
    color: #000;
    text-decoration: none;
}

a:active {
    color: #777;
    text-decoration: none;
}

p {
    padding: 5px 0 0 0;
    line-height: 1.6em;
}

/************ 部件样式 ************/

.button {
    font-family: Verdana, Arial, sans-serif;
    display: inline-block;
    background: #459300 url('../images/bg-button-green.gif') top left repeat-x !important;
    border: 1px solid #459300 !important;
    padding: 4px 7px 4px 7px !important;
    color: #fff !important;
    font-size: 11px !important;
    cursor: pointer;
    border-radius: 3px;
}

.button:hover {
    text-decoration: underline;
}

.button:active {
    padding: 5px 7px 3px 7px !important;
}

.currentPage {
    font-size: 13px;
    color: #888;
    display: block;
    line-height: 30px;
    border-bottom: solid 1px #ccc;
}

.currentPage i {
    display: block;
    float: left;
    width: 16px;
    height: 15px;
    margin: 7px 5px;
    background: url("../images/ico_png24.png") 0 -276px no-repeat;
}

/********************************      侧边栏样式      ********************************/

#sidebar {
    display: block;
    float: left;
    width: 221px;
    height: 100%;
    position: relative;
    margin-left: 9px;
    left: 0;
    top: 0;
    color: #888;
    font-size: 12px;
}

#sidebar a {
    color: #ccc;
}

#sidebar a:hover {
    color: #fff;
}

h1#sidebar-title {
    width: 221px;
    height: 40px;
    margin: 40px 0;
    text-align: center;
    color: #e6e6e6;
    font-size: 26px;
}

#sidebar #welcome {
    padding: 0 15px 20px 15px;
    text-align: right;
    line-height: 1.5em;
}

#sidebar #welcome {
    color: #888;
    line-height: 18px;
}

#sidebar #welcome span {
    color: #ccc;
}

#sidebar #welcome p {
    margin-top: 10px;
}

#sidebar #main-nav {
    width: 206px;
    padding: 0;
    margin: 0 0 0 15px;
    font-family: Helvetica, Arial, sans-serif;
}

#sidebar #main-nav li {
    list-style: none;
    padding-bottom: 10px;
    text-align: right;
}

#sidebar #main-nav li a.nav-top-item {
    background: transparent url("../images/bg-menu-item-green.gif") right center no-repeat;
    padding: 10px 15px;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    display: block;
    text-decoration: none;
}

#sidebar #main-nav li .nav-submenu {
    display: none;
}

#sidebar #main-nav ul {
    font-size: 12px;
    padding-top: 10px;
}

#sidebar #main-nav ul li {
    list-style: none;
    text-align: right;
    padding-right: 15px;
}

/********************************      主体部分样式     ********************************/
#main-content {
    margin: 0 30px 0 260px;
    padding: 40px 0 0 0;
}

#currentTime {
    padding: 10px 0 0 30px;
    font-size: 14px;
}

/*************** 公告样式 ***************/
.column-left {
    width: 48%;
    float: left;
}

.column-right {
    width: 48%;
    float: right;
}

/*************** 邮件箱样式 ***************/

.email {
    float: left;
    width: 100%;
    margin-bottom: 40px;
}

.content-box {
    margin-top: 20px;
    border: solid 1px #ccc;
    border-radius: 6px;
    background: #fff;
}

.content-box-header {
    background: #E9E9E9;
    margin-top: 1px;
    height: 40px;
    border-bottom: solid 1px #ccc;
}

.content-box-header-bottom {
    border-bottom: none;
}

.content-box-header h3 {
    float: left;
    padding: 12px 25px 10px;
}

.content-box-header ul.content-box-tabs {
    float: right;
    padding: 10px 15px 0 0;
}

.content-box-header .content-box-tabs li {
    float: left;
}

.content-box-header .content-box-tabs li a {
    color: #333;
    display: block;
    line-height: 30px;
    text-align: center;
    width: 55px;
    height: 29px;
    margin: 1px;
}

.content-box-header .content-box-tabs li a.current {
    background: #fff;
    border: 1px solid #ccc;
    border-bottom: 0;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    -moz-border-top-left-radius: 6px;
    -webkit-border-top-right-radius: 6px;
}

.content-box-header .content-box-tabs li a:hover {
    color: #57a000;
}

/****表格样式****/

.content-box-content {
    padding: 20px;
    font-size: 13px;
}

.content-box-content table {
    width: 100%;
    border-collapse: collapse;
}

table thead th {
    font-weight: bold;
    font-size: 15px;
    border-bottom: 1px solid #ddd;
}

tbody {
    border-bottom: 1px solid #ddd;
}


table td, table th {
    padding: 10px;
    line-height: 1.3em;
}

table tfoot td .bulk-actions {
    padding: 15px 0 5px 0;
    float: left;
}

table tfoot td .bulk-actions select {
    padding: 4px;
    border: 1px solid #ccc;
}

.img_read{
    float: left;
    margin-right: 7px;
    display: block;
    width: 16px;
    height: 16px;
    background: url("../images/icons/sms.png");
    cursor: pointer;
}

.img_reply{display: block;
    float: left;
    margin-right: 7px;
    width: 16px;
    height: 16px;
    background: url("../images/icons/pencil.png");
    cursor: pointer;
}

.img_delete{display: block;
    float: left;
    width: 16px;
    height: 16px;
    background: url("../images/icons/cross.png");
    cursor: pointer;
}

/****表格样式 END****/

/****分页样式****/

#main-content .pagination {
    text-align: right;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    float: right;
}

.pagination a {
    margin: 0 5px 0 0;
    padding: 3px 6px;
    cursor: pointer;
}

.pagination a.number {
    border: 1px solid #ddd;
    border-radius: 5px;
}

.pagination a.current {
    background: #459300;
    border-color: #459300 !important;
    color: #fff !important;
}

.pagination a.current:hover {
    text-decoration: underline;
}

/****分页样式 END****/


/****阅读信封样式 ***/
.read_email_box{
    padding: 12px 14px;
}

.read_email_box p{
    margin-bottom: 3px;
}

.read_email_box label{
    width: 70px;
    text-align: justify;
    text-justify:inter-word;
}

.read_email_box textarea{
    vertical-align: top;
    width: 80%;
    height: 130px;
    padding: 3px 5px;
    font-size: 13px;
}

.contentBox{
    display: block;
    border: solid 2px #ccc;
    padding: 8px;
    box-shadow: 1px 1px 3px #ccc;
    margin-top: 3px;
}

/****阅读信封样式 END***/


/****写信样式 ***/
hr {
    margin: 10px 0 20px 0;
!important;
    border: 0;
    border-top: 1px solid #eeeeee;
    border-bottom: 1px solid #ffffff;
}

.addBox form label{
    display: block;
    width: 10%;
    float: left;
}

.tab-content input#email-recipient, .tab-content input#email-topic {
    width: 80%;
    padding: 2px;
}

.tab-content select#email-type {
    width: 22%;
    border-radius: 3px;
    padding: 3px;
}

.tab-content textarea#textArea {
    margin-top: 100px;
}

.tab-content input#submit {
    width: 12%;
    margin: 0 0 0 20px;
}

/****写信样式 END ***/

/*************** 邮件箱样式--END ***************/







